# Ignore contents of these folders but keep the folders themselves
/current_project/
/old_project/
/transfer_folder/
__pycache__

# Ignore dev folder entirely
/dev/
/docs/

# Ignore these files
AGENT.md
